@use '@angular/material' as mat;

html {
  height: 100%;
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html.dark-mode {
  color-scheme: dark;
}

body {
  margin: 0;
  height: 100%;
  font: var(--mat-sys-body-medium);
}
